<div class="topnav">
    <a style="color:white; font-size:20px" href="/">Noah Daniel Mancino</a>
    <div class="container">
        <a style="text-align:left" href="/resume">Resume</a>
        <a href="/css/">CSS</a>
        <a href="/js/">JavaScript</a>
        <a href="/python/">Python</a>
    </div>
</div>