<div class="topnav">
    <a style="color:white; font-size:20px" href="/">Noah Daniel Mancino</a>
    <div class="container">
        <a href="/">Home</a>
        <a style="text-align:left" href="/resume">Resume</a>
        <a href="/blog">Blog</a>
        <a href="/Y86-64">Y86-64</a>
    </div>
</div>