<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="topnav">
    <a style="color:white; font-size:20px" href="/">Noah Daniel Mancino</a>
    <div class="container">
    <a style="text-align:left" href="/html/">HTML</a>
    <a href="/css/">CSS</a>
    <a href="/js/">JavaScript</a>
    <a href="/python/">Python</a>
    </div>
</div>

<div class="summary-container">
    <img src="images/noah.jpeg" style="border-radius: 50%; width:20vw; height: 20vw; margin: 5%" alt="Noah">
    <h3 style="margin-bottom:0">Noah Daniel Mancino</h3>
    <p style="color:gray; margin-top: .5vw; margin-bottom:0">Software Engineer</p>
    <p style="color:black; margin-top: 2vw">   <img src="images/iconmonstr-location-pin-thin.svg" alt="Location Pin"> New York, NY</p>
    <p>
        <a href="https://www.linkedin.com/in/noah-mancino-5067b41a3/"><img src="images/iconmonstr-linkedin-3.svg"></a>
        <a href="https://github.com/noahmancino"><img src="images/iconmonstr-github-3.svg"></a>
        <a href="https://twitter.com/noah_d_mancino"><img src="images/iconmonstr-twitter-3.svg"></a>
        <a href="https://www.instagram.com/noahmancino/"><img src="images/iconmonstr-instagram-1.svg"></a>
    </p>
</div>

<div class="biography-container">
    <h2>About Me</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>

</body>
</html>