<!-- TODO: undistort circular image. -->
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/navbar.ejs') %>
<div class="summary-container">
    <img src="images/noah.jpeg" style="border-radius: 50%; width:20vw; height: 20vw; margin-top: 4vw" alt="Noah">
    <h3 style="margin-bottom:0">Noah Daniel Mancino</h3>
    <p style="color:gray; margin-top: .5vw; margin-bottom:0; font-family: monospace">Software Engineer</p>
    <p style="color:black; margin-top: 2vw">   <img src="/images/iconmonstr-location-1.svg" alt="Location Pin"> New York, NY</p>
    <p>
        <a href="https://www.linkedin.com/in/noah-mancino-5067b41a3/"><img src="/images/iconmonstr-linkedin-3.svg"></a>
        <a href="https://github.com/noahmancino"><img src="/images/iconmonstr-github-3.svg"></a>
        <a href="https://twitter.com/noah_d_mancino"><img src="/images/iconmonstr-twitter-3.svg"></a>
        <a href="https://www.instagram.com/noahmancino/"><img src="/images/iconmonstr-instagram-1.svg"></a>
    </p>
</div>

<div class="biography-container">
    <br>
    <h2>About Me</h2>
    <p>
        Hello, I am a software engineer and recent graduate from University of Oregon with a degree in computer science and mathematics.
        <br><br>
        In school my primary areas of interest were data science and operating systems, but since graduating I have been focusing
        on web development, both front and back end.
    </p>
</div>

</body>
</html>