<%- include('partials/head.ejs') %>
<body>
<%- include('partials/navbar.ejs') %>
<div style="text-align: center">
<h4>
    Upload Y86-64 code
</h4>
    <input class="form-control center" type="file" file-input="files" multiple>
</div>
</body>